<h2>Add new site</h2>

<form id="new">
  <input type="url" name="url" placeholder="Your URL">
  <input type="email" name="email" placeholder="Your email address">

  <input type="submit" id="submit" value="Save">
</form>

<div id="sites">
<% @all.each do |site| %>
  <div class="site" id="<%= site.id %>">
    <h3><%= site.url %></h3>
    <h4><%= site.email %></h4>
    <h5><%= site.updated_at %></h5>
    <a href="#" class="delete">Delete</a>
  </div>
<% end %>
</div>